html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  margin: 1rem;
  line-height: normal;
  font-family: 'Copse', serif;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

svg {
  min-width: 50%;
  align: left;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
  align-content: flex-end;
}

header nav ul li {
  padding: 0 5rem;
}

header nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
}

footer {
  text-align: center;
}

.images {
  display: flex;

}

.other {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

header nav {
  background-color: green;
  margin-bottom: 1rem;
}

.quote {
  display: flex;
  margin: 0;
}

.quote blockquote {
  margin: 1rem;
}

.learn {
  padding-right:2rem;
}

.button {
  color: #fff;
  background-color: green;
  text-decoration: none;
}



@media only screen and (min-width: 1280px) {
  .other {
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }


}


@media only screen and (min-width: 1281px) {



}
